@charset "ISO-8859-1";
body{
	background:black;
}
.menu{
	width: 400px;
	float: left;
	height: 70px;
}
ul{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul li{
	list-style: none;
	margin-left: 62px;
	margin-right: 27px;
	font-size: 14px;
}
ul li a{
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	text-decoration: none;
	
}
ul li a:hover{
	color:lime;
}